<h1>Debian Java packaging examples</h1>

<p>
	Here are a selection of example debian dirs for simple
	Java packages of a variety of types. They all use javahelper
	and dh7 in order to reduce the complexity of packaging.
</p>

<hr/>
