pre {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid black;
   background-color: #feffaa;
   padding: 2px;
}

h1 {
   background-color: #DF0451;
   color: white;
   font-size: 16pt;
   font-weight: normal;
   text-align: left;
   padding: 0px;
}

div#logo {
   text-align: center;
}

h1:before {
  background: transparent url(http://www.debian.org/Pics/red-upperright.png) scroll no-repeat top right;
  margin-bottom: -20px;
  height: 30px;
  display: block;
  border: none;
  content: url(http://www.debian.org/Pics/red-upperleft.png);
  padding: 0;
  line-height: 0.1;
  font-size: 1px;
}

h1:after {
  display: block;
  float: left;
  width: 100%;
  line-height: 0.1;
  font-size: 1px;
  content:  url(http://www.debian.org/Pics/red-lowerleft.png);
  background: white;
  background: #DF0451 url(http://www.debian.org/Pics/red-lowerright.png) scroll no-repeat top right ;
  padding: 0;
}
