<p>
	This example is for a Java library that which does depend on other packages,
	but which either does not have a build system shipped from upstream or you
	do not wish to use it.
</p>
<p>
	Very similar to the previous example; the differences are the addition of
	build-dependencies and declaring the CLASSPATH in debian/rules
</p>
