<p>
	This example is for a Java program that which does depend on other packages,
	but which either does not have a build system shipped from upstream or you
	do not wish to use it.
</p>
<p>
	Note the two overrides in debian/rules which cause the jar to become executable
	and have the correct Main-Class manifest entry. This then causes dependencies
	on the matching JRE to the JVM you compiled with and also jarwrapper to be added
	to the package.
</p>
